.container {
    width: 40%;
    margin-top: 5px;
    display: grid;
    grid-gap: 5px;
    grid-auto-rows: minmax(64px, auto);


    ul {
        min-width: 120px;
        display: grid;
        margin: 15px 0;
        user-select: none;
    }

}

@media screen and (max-width: 560px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 900px) and (min-width: 560px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.container:first-child {
    margin-left: 5px;
}



.container>ul:hover {
    background-color: rgba($color: white, $alpha: 0.150);
    border-radius: 2px;
    cursor: pointer
}

.container {
    li {
        display: inherit;
        padding: 0 25px;
        text-align: center !important;

        img {
            min-width: 55px;
            width: 55px;
            display: initial;
        }
    }
}